<div class="container profile">
  <%= render 'profiles/infos_profile' %>

  <% if !current_user.animals.any? %>
    <h1 class="text-center mt-5">No bookings yet</h1>
  <% end %>

  <div class="bookings-container">
    <% current_user.animals.each do |a| %>
      <% if a.bookings.any? %>
        <% a.bookings.each do |booking| %>
          <%= render 'bookings/my_bookings', booking: booking %>
        <% end %>
      <% end %>
    <% end %>
  </div>

</div>
