// Import page-specific CSS files here.
@import "home";
@import "profile";
@import "../components/myBookings";
@import "modal_animal";
@import "../components/headerAnimals";
@import "../pages/bookingsIndex";
@import "new_record";
@import "myrecord";
@import "new_booking";
@import "login";
