.big-container-records {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .records-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: $medium-green;
    width: 80%;
    border-radius: 4px;
    border: 1px solid $dark-green;
  }
}
