.profile {
  h1 {
    font-family: $headers-font;
  }
  .infos-user-profile {
    margin-bottom: 30px;
    position: relative;

    ul {
      padding: 0 !important;
    }

    .edit-icon {
      position: absolute;
      right: 20px;
      font-size: 1.3rem;
      cursor: pointer;
    }

    li {
      list-style: none;
      border-bottom: 1px solid grey;
      padding-bottom: 10px;
      margin-bottom: 10px;
      font-family: $body-font;

      &:first-child {
        font-size: larger;
        font-weight: bold;
      }
    }

    .fa-solid {
      margin-right: 10px;
    }
  }

  .title-pets {
    position: relative;
    .fa-solid {
      top: 0;
      position: absolute;
      right: 30px;
      font-size: 1.3rem;
      cursor: pointer;
    }
  }

  .my-pets {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;

    .card-pet {
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;
      transition: 0.2s;
      scale: 1.1;
      margin: 30px 0;

      &:hover {
        scale: 1.15;
      }

      .img-avatar {
        position: absolute;
        left: -55px;
        background: red;
        width: 110px;
        height: 110px;
        border-radius: 1000px;
        border: 1px solid $medium-green;
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
          rgba(0, 0, 0, 0.24) 0px 1px 2px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .pet-info {
        background: white;
        padding: 10px;
        padding-left: 70px;
        width: 200px;
        border-radius: 10px;
        border: 1px solid $dark-green;

        p {
          margin: 0;
          text-align: start;
          font-size: 0.8rem;

          &:first-child {
            font-weight: bold;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}
