<div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" data-booking-modal-target="modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" data-booking-modal-target="modalContent">
    </div>
  </div>
</div>
