<div class="calendar-container">

    <% slots.each do |day_data| %>
      <div class="columns-container">
        <div class="days"><%= day_data[:date].strftime("%a %e %b") %></div>
        <% day_data[:slots].first(5).each do |slot_data| %>
          <% if slot_data[:available] %>
              <% min = slot_data[:slot].start.to_s.match(/(\d{2})$/)&.captures&.first %>
              <% hour = slot_data[:slot].start.to_s.gsub(/(\d{2})$/, "") %>
              <% datetime = Time.parse("#{day_data[:date].to_s} #{hour}:#{min}") %>
              <%= link_to "#{hour}:#{min}", new_user_booking_path(professional, date: datetime), class: "availableslot" %>
          <% else %>
            <div class="unavailable-slot">
              <div class="rounded-bar"></div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>

</div>
