<div class="banner rounded-bottom" style="width: 100 vw; height: 500px; background-image: linear-gradient(rgba(0,0,0,0.5) 95%,rgba(243,251,249,1)), url(https://img.freepik.com/free-photo/cute-puppy-group-sitting-looking-camera-indoors-generated-by-artificial-intelligence_188544-113182.jpg?t=st=1717508423~exp=1717512023~hmac=9f31fd96931e5f52331b37d46b52a57de8e832ffcf66afb960aa29d76667d990&w=2000);">
  <div class="container text-center">
    <h1>AnimaLib</h1>
    <p class="mb-5">Take care of your pets</p>
    <%= render partial: "shared/searchbar" %>
  </div>
</div>
