<div class="banner">
<%= render "shared/homepage_navbar" %>
  <div class="container text-center">
    <h1>AnimaLib</h1>
    <p class="mb-5">Take care of your pets</p>
    <%= render partial: "shared/searchbar" %>
  </div>
</div>
