<div class="banner">
<%= render "shared/homepage_navbar" %>
  <div class="container text-center">
    <h1>AnimaLib</h1>
    <p class="mb-5">Take care of your pets</p>
    <%= render partial: "shared/searchbar" %>
  </div>
</div>

<div>
  <div>
    <h1> <strong>Animalib, </strong></h1>
    <h3> Faites de leur santé votre priorité </h3>
  </div>
</div>

<div>

  <i class="fa-solid fa-book-medical"></i>
  <i class="fa-solid fa-calendar-check"></i>

  

</div>
