<div class="banner">
<%= render "shared/homepage_navbar" %>
  <div class="glow-down container text-center">
    <h1>AnimaLib</h1>
    <p class="slogan mb-5">Your pets first</p>
    <div class="searchbar">
      <%= render partial: "shared/searchbar" %>
    </div>
  </div>
</div>
