 <div class="col-12 col-md-8 col-lg-6">
    <%= simple_form_for @healthrecord do |f| %>
    <%= f.input :history %>
    <%= f.submit "Edit my record", class: "btn btn-primary" %>
    <% end %>
    <%= link_to "Edit my record", animal_path(@animal), %>

   </div>


