<div class="container mt-5">
  <%= render 'animals/header_animal', animal: @healthrecords %>
</div>

<div class="big-container-records">
  <div class="records-container">
    <%= render 'health_records/my_healthrecord', animal: @healthrecords%>
  </div>
</div>
