.btn-google-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  background-color: none;
  border: 1px solid rgba(0, 0, 0, 0.308);
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  width: 70%;
  border-radius: 50px;
  margin: 20px auto;

  img {
    width: 30px;
    height: 30px;
  }

  &:hover {
    background-color: honeydew;
  }
}

.google-icon {
  width: 24px; /* Ajustez la taille selon vos besoins */
  height: 24px;
  margin-right: 10px;
}

.btn-google {
  background: none;
  border: none;
  color: black;
}

// .btn-google:hover {
//   background-color: #357ae8;
// }
