.agenda {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 5px;
  border: solid 1px $light-green;

  .container-calendar {
    width: 100%;
    height: 100%;

    .souscontainer {
      width: 490px;
    }
  }

  .calendar-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;

    .columns-container {
      display: grid;
      grid-template-rows: repeat(6, 1fr);
      justify-items: center;
      gap: 5px;

      .days {
        font-size: 0.8rem;
        font-family: $body-font;
        font-weight: 600;
        height: 30px;
      }

      .availableslot {
        color: black;
        // background: $medium-green;
        background: #eafaff;
        text-align: center;
        padding: 4px;
        border-radius: 5px;
        font-size: 0.8rem;
        width: 60px;
        transition: 0.2s;

        &:hover {
          background-color: $light-green;
          scale: 0.9;
          font-weight: bold;
        }
      }
    }
  }

  .unavailable-slot {
    margin: auto;
    .rounded-bar {
      width: 30px;
      height: 5px;
      background-color: #d3d3d3;
      border-radius: 10px;
      margin: 8px auto;
    }
  }
}
