.container-calendar {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 100px;
  width: 80%;

  .souscontainer {
    width: 100%;
    padding-top: 25px;
    display: flex;
    gap: 10px;
    background-color: white;
    justify-content: center;
    font-family: $body-font;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-color: 1px solid $light-green;
    margin-right: 20px;
  }

  .left-arrow,
  .right-arrow {
    color: black;
    cursor: pointer;
    padding: 0 12px;

    &:hover {
      color: $light-gray;
      transition: background-color 0.2s ease, color 0.3s ease;
    }
  }

  .slotcontainer {
    display: flex;
    flex-direction: column;
    width: 140px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    align-items: center;
    text-align: center;
    justify-content: center;
    transition: background-color 0.2s ease, color 0.3s ease;
    transition: transform 0.3s ease;

    .availableslots {
      padding: 10px;
      background-color: $medium-green;
      margin-bottom: 25px;
      border-radius: 4px;
      width: 100px;
      justify-content: center;
      cursor: pointer;

      &:hover {
        background-color: $light-green;
        color: $dark-green;
        transition: background-color 0.2s ease, color 0.3s ease;
        transform: scale(1.1);
      }

      a {
        color: black;
        font-size: 17px;

        &:hover {
          color: black;
        }
      }
    }

    .days {
      margin-bottom: 20px;
      text-align: center;
      font-size: 20px;
    }

    .unavailable-slot {
      width: 100px;
      height: 44px;
      border-radius: 4px;
      margin-bottom: 25px;
      padding: 10px;

      .rounded-bar {
        width: 70px;
        height: 5px;
        background-color: #d3d3d3;
        border-radius: 10px;
        margin: 8px auto;
      }
    }
  }
}
