body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.big-contain {
  width: 100%;
  justify-content: center;
  background-color: $dark-green;
  padding: 12px;
  margin-top: auto;
  margin-top: 50px;
  height: 52px;
}

.icon {
  margin: 0px auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: $light-green;
  font-size: 25px;
  gap: 20px;
}
