// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "user_show_pro";
@import "banner";
@import "user_show_pro";
@import "homepage_navbar";
@import "logo";
@import "map_card";
@import "map_side_index";
@import "home";
@import "my_healthrecord";
@import "calendar";
@import "carousel";
@import "footer";
@import "calendarCards";
@import "navbar_searchbar";
@import "recordIndex";
@import "header_profile";
@import "index_fav";
@import "booking_form";
@import "cardReview";
@import "simpleCalendar";
@import "address"; 
@import "btnGoogle";

