
.card {
  border: 1px solid $medium-green;
  background-color: white;
  margin: 10px;
  padding: 10px;
  padding-bottom: -20px;

  .title {
    display: flex;
    align-items: center;
  }

  .img-pro {
    height: 40px;
    width: 40px;
    border-radius: 50px;
    margin-right: 10px;
    margin-bottom: 5px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .button-containerr {
    display: flex;
    justify-content: center;
  }

  .button {
    background-color: $dark-green;
    text-align: center;
    border-radius: 4px;
    width: 50%;
    color: white;
    font-family: $body-font;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  h6 {
    font-size: 11px;
    margin-bottom: 5px;
    font-family: $headers-font;
  }

  .leger {
    font-weight: 300;
  }

  .name {
    display: flex;
    gap: 3px;
    font-weight: 600;
  }

  p {
    margin: 0px;
    font-family: $body-font;
  }
}
