.bookings-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  .my-bookings-container-past {
    // border: 1px solid #cc4e5c;
    background: #e2e1e183;
    margin-bottom: 20px;
    padding: 10px 30px;
    width: 400px;
    border-radius: 10px;
    margin: 15px;
    p {
      margin: 0;
    }
    .info-veto {
      display: flex;
      flex-direction: column;

      .name-date {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        width: 80%;

        .name {
          // position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: fit-content;
          // flex-direction: column;

          .img-veto {
            // position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 1000px;
            background: $light-green;
            margin-right: 5px;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }

          .profession {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }
        }

        .date {
          font-size: 0.6rem;
        }
      }

      .cancel-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        .cancel {
          background: #cc4e5c;
          padding: 7px;
          width: fit-content;
          border-radius: 5px;
          color: white;
          margin-top: 10px;
        }
      }
    }
  }

  .my-bookings-container {
    border: 1px solid $dark-green;
    background: white;
    margin-bottom: 20px;
    padding: 10px 30px;
    width: 400px;
    border-radius: 10px;
    margin: 15px;

    .borde-change {
      border-color: red;
    }

    p {
      margin: 0;
    }

    .info-veto {
      display: flex;
      flex-direction: column;

      .name-date {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 15px;
        width: 80%;

        .name {
          // position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          width: fit-content;
          // flex-direction: column;

          .img-veto {
            // position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 1000px;
            background: $light-green;
            margin-right: 5px;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }

          .profession {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
          }
        }

        .date {
          font-size: 0.6rem;
        }
      }

      .cancel-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        .cancel {
          background: #cc4e5c;
          padding: 7px;
          width: fit-content;
          border-radius: 5px;
          color: white;
          margin-top: 10px;
        }
      }
    }
  }
}



.btn-closee {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: white;
  background: #cc4e5c;
  font-size: 16px;
  transition: 0.3s;
  width: fit-content;
  margin-right: 10px;

  &:hover {
    color: black;
    background: #aea1a2;
  }
}

.btn-submit {
  padding: 10px 20px;
  border: none;
  border-radius: 4px !important;
  color: white;
  background: $dark-green;
  font-size: 16px;
  transition: 0.3s;
  width: fit-content;
}
