.show-container {
  display: grid;
  grid-template-columns: 65% 45%;
  .circular-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid $white;
  }

  .header-pro {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .infos {
      position: relative;
      background: white;
      padding: 20px;
      padding-left: 100px;
      position: relative;
      width: 80%;
      border: 1px solid $medium-green;

      .hearts {
        position: absolute;
        top: 20px;
        right: 20px;

        .fa-heart {
          font-size: 1.7rem;
        }
      }

      .img-container {
        position: absolute;
        left: -125px;
        bottom: -5px;
        width: 200px;
        height: 200px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      h5 {
        margin-bottom: -2px;
      }
      .prof {
        opacity: 80%;
        font-size: 0.8rem;
      }

      .infoss {
        margin-top: 15px;

        .fa-solid {
          margin-right: 5px;
        }

        h6 {
          font-size: 0.9rem;

          &:first-child {
            margin-bottom: 3px;
          }
        }
      }

      h6 {
        margin: 0;
      }
    }
  }
  .agenda {
    background-color: rgb(255, 255, 255);
    width: 673px;
    height: 300px;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px $medium-green;
    margin: 30px auto;

    .calendar-container {
      height: 100% !important;
      .availableslot {
        width: 90px !important;
      }
    }
  }

  .card-info {
    margin-top: 40px;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    background: white;
    border: 1px solid $medium-green;
    width: 80%;
    align-items: center;

    .card-details {
      display: flex;
      justify-content: space-between;
    }
  }
}
