// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");
@import "star-rating.js/dist/star-rating.css";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "simple_calendar";

body {
  background: $light-green;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif !important;
}

/* Pour le texte normal */
body,
p,
a,
li {
  font-family: "Nunito", sans-serif !important;
}

.body-container {
  min-height: calc(100vh - 168px) !important;
}
